name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      working-directory: ./city_builder
      run: |
        sudo apt install libasound2-dev
        cargo build --verbose
    - name: Run tests
      working-directory: ./city_builder
      run: cargo test --verbose
